.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 2.5rem;
}

.brand-container p {
    display: flex;
    font-size: 30px;
    justify-content: flex-start;
    padding: 1rem 1rem;
}

.social-container {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.social-container a {
    display: flex;
    font-size: 30px;
    padding: 1rem 1rem;
}

@media (max-width: 768px) {
    .footer-container {
        display: flex;
        justify-content: center;
        align-items: self-start;
        margin: 0;
        flex-direction: column;
        padding: 0;
    }

    .social-container {
        display: flex;
        justify-content: flex-start;
        gap: 2px;
        flex-direction: column;
    }

    .brand-container p{
        display: flex;
        padding: 0;
        font-size: 20px;
    }

    .social-container a {
        display: flex;
        justify-content: flex-start;
        padding: 0;
        font-size: 20px;
    }
}

